<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>HH parser</title>
  </head>
  <body>
    <form action="/report">
        <div class="mb-3 mt-3">
          <label for="formGroupExampleInput" class="form-label">Введите наименование позиции или ключевых навыков</label>
          <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Начинающий специалист" required name="keyword">
        </div>
        <button class="btn btn-outline-dark">Найти</button>
    </form>
  </body>
</html>